body{ 
    background-color: rgb(145, 30, 145);
    color:whitesmoke;
    margin: 0;
    padding:0;
}

/* navigation styles */
/* decrotive image styles */

.img-project{
    width: 100%;
}

/* header Styles  */
header{ 
    background-color: whitesmoke;
    color:rgb(145, 30, 145);
    padding: 20px;
    text-align: center;
}

/* navigation stles - these styles will only apply to anchor tags that are contained within a nav section ( the style will not apply to anchor tags in other areas of the page */

nav a {
    /* remove the underline under links  */
    text-decoration: none;
    padding: 30px;
    font-size: larger;
    font-weight: bold;
}

nav a:hover{
    color: plum;
}

h2{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.flex-column{
    text-align: center;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 50px;
    margin: 10px;
    max-width: 400px;

}

form{
    margin:20px;
    max-width: 400px;
    border-radius: 20px;
    
}
input, label{
    padding: 6px;
}

button{ 
    padding: 8px;
    background-color: whitesmoke;
    color: blueviolet;
    font-weight: bold;
    border-radius: 6px;
}

button:hover{
    color: rgb(162, 123, 197);
}

.img-decrative{
    border-radius: 50%;
    width: 50%;
    padding: 10px;


}

.about-me{
    font-size: xx-large;
    font-weight: 100;
    
}

.details{
    text-align: center;
    padding: 20px;
    margin: auto;
}

.cta-btn{
    background-color: #954f85;
    color:whitesmoke;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    transition: backgrond 0.3s ease;
    /* Figure this out on my own thanks to your teaching!  */
    display:flexbox
}
.about-btn{
margin: 30px;
padding: 20px;
display: flex;
}

/* I now see why you said centering is difficult! I tried my best to center this button and the image on the about page */